/* shared style */
body{

font-family: 'Open Sans', sans-serif;
}


/* nav related styles  */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color: black;
    
    font-size: 45px;
    
    font-weight: 800;
    
}
.text-primary{
    color: chocolate;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right:50px ;
}
nav a{
    text-decoration: none;
    color: crimson;
}
.btn-primary{
    border-radius: 5px;
    background: coral;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* header releated styles */
.header{
    background-color: bisque;
    background-image: url();
}
.banner{
    padding: 30px 0px 150px;
display:flex;
align-items: center;
justify-content: space-between;
}
.banner .profile-picture{
    width: 300px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 5px;
}
.banner-r{
    font-weight: 500;
}
.banner-content{
    max-width: 500px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: aqua;
    margin:130px 0 ;
}
.section title{
    color: black;
    text-align: center
    ;
    
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}